// .header{
//   display: flex;
// }
// .logohead{
//   text-decoration: none;
//   color: black;
//   font-size: 25px;
// }
// .logo{
//   margin-left: 1%;
//   border-radius: 35%;
// }
// .mynavitem{
//   text-decoration: none;
//   font-size: 20px;
//   color: black;
//   padding-right: 3%;
// }
// .mynav{
// margin-top: 1%;
// text-align: right;
// width: 80%;
// }
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
#block-butterscotch-page-title{
  text-align: center;
}
#block-butterscotch-branding{
  img{
      width: 3%;
  }
  a{
      text-decoration: none;
  }
}
nav{
  a{
      text-decoration: none;
      // text-align: right;
  }
}
// #block-butterscotch-powered{
//     display: none;
// }
#block-butterscotch-footer{
  text-align: right;
}
// .aboutusImage{
//   width: 50%;
//   height: auto;
//   margin-left: 25%;
//   margin-top: 5%;
// }
.aboutusBody{
  margin-top: 5%;
  padding-right: 10%;
  padding-left: 10%;
}
.aboutUs{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  img{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 4%;
    height: auto;
  }
}
.paragraph{
  div{
    text-align: center;
  }
}
.productName{
  text-align: center;
  font-size: 30px;
  font-weight: 700;

}
.productImage{
  text-align: center;
  img{
    width: 25%;
    height: auto;
  }
}
.productPrice{
  text-align: center;
  font-size: 40px;
}
.productFeatures{
  text-align: center;
  a{
    text-decoration: none;
    color: black;
  }
}
.buttonDiv{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
}
#buyNow{
  width: 120px;
  font-size: 20px;
  font-weight: 600;
  background-color: #ffd712;
  border-radius: 19px;
  border: #ffd712;
}
#frontView{
  width: 85px;
  font-size: 10px;
  font-weight: 600;
  background-color: #ffd712;
  border-radius: 19px;
  border: #ffd712;
}

// carousel starts
%animation-default {
  opacity: 1 !important;
  z-index: 3;
}
.banner{
  width: 100%;
  height: auto;
}
@mixin carousel($items, $animation: 'default') {
  .carousel {
    background-color: darkslategray;
    z-index: 0;
    color: white;
    font-size: 20px;
    width: 100%;
    position: relative;
    overflow: hidden;

    > input[type="radio"] {
      position: absolute;
      left: 0;
      opacity: 0;
      top: 0;

      &:checked {
        ~ .carousel__items .carousel__item,
        ~ .carousel__prev > label,
        ~ .carousel__next > label {
          opacity: 0;
        }
      }

      @for $i from 1 through $items {
        &:nth-child(#{$i}) {
          &:checked {
            ~ .carousel__items .carousel__item {
              @if $animation == 'default' {
                &:nth-child(#{$i}) {
                  opacity: 1;
                }
              }
            }

            ~ .carousel__prev {
              > label {
                @if $i == 1 {
                  &:nth-child(#{$items}) {
                    @extend %animation-default;
                  }
                } @else if $i == $items {
                  &:nth-child(#{$items - 1}) {
                    @extend %animation-default;
                  }
                } @else {
                  &:nth-child(#{$i - 1}) {
                    @extend %animation-default;
                  }
                }
              }
            }

            ~ .carousel__next {
              > label {
                @if $i == $items {
                  &:nth-child(1) {
                    @extend %animation-default;
                  }
                } @else {
                  &:nth-child(#{$i + 1}) {
                    @extend %animation-default;
                  }
                }
              }
            }

            ~ .carousel__nav {
              > label {
                &:nth-child(#{$i}) {
                  background: #ccc;
                  cursor: default;
                  pointer-events: none;
                }
              }
            }
          }
        }
      }
    }

    &__items {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
      height: 600px;
      position: relative;
    }

    &__item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: opacity 2s;
      -webkit-transition: opacity 2s;

      img {
        width: 50%;
        vertical-align: middle;
        height: auto;
      }
    }

    &__prev,
    &__next {
      > label {
        border: 1px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        opacity: 0;
        z-index: 2;

        &:hover,
        &:focus {
          opacity: .5 !important;
        }

        &:before,
        &:after {
          content: "";
          position: absolute;
          width: inherit;
          height: inherit;
        }

        &:before {
          background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%),
                      linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
          width: 60%;
          height: 60%;
          top: 20%;
        }
      }
    }

    &__prev {
      > label {
        left: 2%;

        &:before {
          left: 35%;
          top: 20%;
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
        }
      }
    }

    &__next {
      > label {
        right: 2%;

        &:before {
          left: 10%;
          transform: rotate(315deg);
          -webkit-transform: rotate(315deg);
        }
      }
    }

    &__nav {
      position: absolute;
      bottom: 3%;
      left: 0;
      text-align: center;
      width: 100%;
      z-index: 3;

      > label {
        border: 1px solid #fff;
        display: inline-block;
        border-radius: 50%;
        cursor: pointer;
        margin: 0 .125%;
        width: 20px;
        height: 20px;
      }
    }
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background: #fcfcfc;
  margin: 0;
}
.carousel{
  background-color: bisque;
}
.container {
  min-width: 0px;
  margin: 50px auto;
}

@include carousel(5);

//footer
.site-footer {
  background-color: teal;
	text-align: center;
	margin: 10px 0;
	padding: 10px 0;
}

#social-wrapper {
	text-align: center;
}

/*Social Media Icons*/
.social-wrapper {
	text-align: center;
}

.social-wrapper ul li {
	display: inline;
	margin: 0 5px;
}

.twitter-icon,
.facebook-icon,
.instagram-icon,
.linkedin-icon,
.googleplus-icon,
.youtube-icon,
.foursquare-icon{
	margin-top: .625em;
	width: 40px;
	height: 40px;
	opacity: .6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
  border-radius: 25px;
}

.twitter-icon:hover,
.facebook-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover,
.googleplus-icon:hover,
.youtube-icon:hover,
.foursquare-icon:hover {
	opacity: 1.0;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

.footer-nav p {
	text-align: center;
  color: white;
}

//navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: teal;
  color: #fff;
  z-index: 1;
 }
 .nav-links a {
  color: #fff;
 }
 /* LOGO */
 .logo {
  font-size: 32px;
  a{
    color: white;
    text-decoration: none;
  }
 }
 /* NAVBAR MENU */
 .menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
 }
 .menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
 }
 .menu li {
  padding: 5px 14px;
 }
 /* DROPDOWN MENU */
 .services {
  position: relative; 
 }
 .dropdown {
  background-color: rgb(1, 139, 139);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
 }
 .dropdown li + li {
  margin-top: 10px;
 }
 .dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
 }
 .dropdown li:hover {
  background-color: #4c9e9e;
 }
 .services:hover .dropdown {
  display: block;
 }
 /*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
  display: none;
 } 
 /*HAMBURGER MENU*/
 .hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
 }
 /* APPLYING MEDIA QUERIES */
 @media (max-width: 768px) {
   .carousel{
     height: 400px;
   }
  .views-col {
    float: left;
    width: 50% !important
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 .menu { 
  display:none;
  position: absolute;
  background-color:teal;
  right: 0;
  left: 0;
  text-align: center;
  padding: 16px 0;
 }
 .menu li:hover {
  display: inline-block;
  background-color:#4c9e9e;
  transition: 0.3s ease;
 }
 .menu li + li {
  margin-top: 12px;
 }
 input[type=checkbox]:checked ~ .menu{
  display: block;
 }
 .hamburger {
  display: block;
 }
 .dropdown {
  left: 50%;
  top: 30px;
  transform: translateX(35%);
 }
 .dropdown li:hover {
  background-color: #4c9e9e;
 }
 }
 //
 .col{
   text-align: center;
   .productName{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
   }
   .productImage{
    text-align: center;
    img{
      width: 75%;
      height: auto;
    }
   }
 }